<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm sticky-top bg-light navbar-light justify-content-between">
    <span class="navbar-brand mb-0">Beautician System</span>
    <ul class="navbar-nav">
        <!-- <li class="nav-item active" *ngFor="let item of navItems; let i=index;">
            <a class="nav-link" *ngIf="!authUserService.isLoggedIn()" [routerLink]="[item.path]">{{item.name}}</a>
            <a class="nav-link" *ngIf="authUserService.isLoggedIn()" [routerLink]="[item.path]">{{item.name}}</a>
        </li> -->
        <li class="nav-item" [ngClass]="{'is-active': href === 'user-dashboard'}"
            *ngIf="authUserService.isLoggedIn() && role == 'user'">
            <a class="nav-link" [routerLink]="['/user-dashboard']">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'beauticians'}"
            *ngIf="authUserService.isLoggedIn() && role == 'user'">
            <a class="nav-link" [routerLink]="['/beauticians']">Beauticians</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'reports'}"
            *ngIf="authUserService.isLoggedIn() && role == 'user'">
            <a class="nav-link" [routerLink]="['/reports']">Reports</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'admin-dashboard'}"
            *ngIf="authUserService.isLoggedIn() && role == 'admin'">
            <a class="nav-link" [routerLink]="['/admin-dashboard']">Home</a>
        </li>
        <li class="nav-item"
            [ngClass]="{'is-active': href === 'services' || href === 'add-beautician' || href === 'add-beauty-parlour' || href === 'add-beauty-services'}"
            *ngIf="authUserService.isLoggedIn() && role == 'admin'">
            <a class="nav-link" [routerLink]="['/services']">Services</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'beautician-dashboard'}"
            *ngIf="authUserService.isLoggedIn() && role == 'beautician'">
            <a class="nav-link" [routerLink]="['/beautician-dashboard']">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'beautician-users'}"
            *ngIf="authUserService.isLoggedIn() && role == 'beautician'">
            <a class="nav-link" [routerLink]="['/beautician-users']">Appointments</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'beautician-reports'}"
            *ngIf="authUserService.isLoggedIn() && role == 'beautician'">
            <a class="nav-link" [routerLink]="['/beautician-reports']">Reports</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'login'}" *ngIf="!authUserService.isLoggedIn()">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" [ngClass]="{'is-active': href === 'signup'}" *ngIf="!authUserService.isLoggedIn()">
            <a class="nav-link" [routerLink]="['/signup']">Signup</a>
        </li>
        <!-- <li class="nav-item logout-link" *ngIf="authUserService.isLoggedIn()">
            <a class="nav-link" (click)="userLogout()">Logout</a>
        </li> -->
        <li class="nav-item" *ngIf="authUserService.isLoggedIn()">
            <a class="nav-link">
                <div class="dropdown">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button> -->
                    <img src="../../assets/images/admin-avatar.png" alt="_profile" class="img-responsive rounded-image dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        width="30" height="30">
                    <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">
                            <div class="div1">
                                <img src="../../assets/images/admin-avatar.png" alt="_pic" class="img-responsive rounded-image" width="60" height="60">
                                <div class="div2 ml-2">
                                    <p class="p1 mt-3">{{fullName}}</p>
                                    <p class="p2">{{userName}}</p>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item link" (click)="onClickView('profile')" [ngClass]="{'is-active1': href === 'admin-profile' || href === 'user-profile' || href === 'beautician-profile'}">
                            <i class="fa fa-user-o" aria-hidden="false"></i><span class="ml-2">My Profile</span>
                        </a>
                        <a class="dropdown-item" (click)="onClickView('settings')" *ngIf="authUserService.isLoggedIn() && role == 'admin'" [ngClass]="{'is-active1': href === 'admin-settings'}">
                            <i class="fa fa-gear" aria-hidden="false"></i><span class="ml-2">Settings</span>
                        </a>
                        <a class="dropdown-item" (click)="userLogout()">
                            <i class="fa fa-sign-out" aria-hidden="false"></i><span class="ml-2">Logout</span>
                        </a>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>

<ng-container *ngIf="authUserService.isLoggedIn()">
    <div class="modal fade logout-modal" id="autoLogoutModal" tabindex="-1" role="dialog" aria-labelledby="autoLogoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="autoLogoutModalLabel">Profile Logout or Stay confirmation ?</h6>
                    <button type="button" class="close" aria-label="Close" (click)="userLogout()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">Your profile session become to ends in</p>
                    <p class="text-center" [ngClass]="{'isSuccess': (seconds <= 60 && seconds >= 30), 'isPrimary': (seconds <= 30 && seconds >= 20), 'isDanger': (seconds <= 20 && seconds >= 00)}">{{ showTime }}</p>
                    <div class="form-group input-group justify-content-center">
                        <button type="button" class="btn btn-action-in" (click)="userReLogIn()">Stay</button>
                        <button type="button" class="btn btn-action-out ml-2" (click)="userLogout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>