.navbar-brand {
    color: white !important;
}

.navbar-light {
    background-color: #6495ED !important;
}

.nav-item .nav-link {
    /* border-left: 2px white solid; */
}

.is-active a {
    color: #ccc !important;
    /* border-left: 2px #ccc solid !important; */
}

.nav-link {
    color: white !important;
}

.logout-link {
    cursor: pointer;
    border: 2px white solid !important;
}