/* search and status fields css styles */
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles p {
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
}

.width-50 {
  width: 150px;
}

.width-100 {
  height: 40px !important;
}

.search-fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-action-search {
  cursor: pointer;
  color: white;
  background-color: #1667af;
  padding: 5px;
  width: 50px;
}
/* end search and status fields css styles */

/* table css styles starts */
.main-title {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.btn-action-addnew {
  background-color: #bfcbd6;
}

.btn-action-addnew:hover {
  background-color: #aab5c0;
}

.btn-action-back {
  background-color: #bfcbd6;
  width: 100px;
}

.btn-action-back:hover {
  background-color: #aab5c0;
}

.table-head tr th {
  color: #6495ed;
  font-size: 1em;
  font-weight: 600;
}

.table-body tr td {
  color: gray;
  font-weight: lighter;
  font-size: 0.9em;
  font-weight: 600;
}

.table-body .table-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .table-body tr td:hover {
  color: crimson;
} */

.bg-status .is-active {
  color: forestgreen;
}

.bg-status .is-inactive {
  color: crimson;
}

.btn-action-view {
  color: white;
  border: 1px solid #6495ed;
  background-color: #6495ed;
}

.btn-action-view:hover {
  background-color: #1667af;
}

.btn-action-update {
  color: white;
  border: 1px solid #aab5c0;
  background-color: #aab5c0;
}

.btn-action-update:hover {
  background-color: gray;
}

.btn-action-delete {
  color: white;
  border: 1px solid lightcoral;
  background-color: lightcoral;
}

.btn-action-delete:hover {
  background-color: crimson;
}

.btn-action-restore {
  color: white;
  border: 1px solid lightgreen;
  background-color: lightgreen;
}

.btn-action-restore:hover {
  background-color: forestgreen;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* end table css styles starts */

/* table pagination styles */
.pagination_rounded,
.pagination_square {
  display: flex;
  justify-content: center;
  /* margin-left: 400px;
  margin-top: 300px; */
}

.pagination_rounded ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_rounded li:first-child {
  margin-left: 0px;
}

.pagination_rounded ul li {
  cursor: pointer;
  float: left;
  margin-left: 20px;
}

.pagination_rounded ul li a:hover {
  background: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
}

a:link {
  text-decoration: none;
}

.pagination_rounded ul .hidden-xs a {
  background: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
}

.pagination_rounded .prev {
  margin-left: 0px !important;
  border-radius: 35px !important;
  width: 90px !important;
  height: 34px !important;
  line-height: 34px !important;
}

.pagination_rounded ul li a {
  float: left;
  color: #4285f4;
  border-radius: 50%;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #aab5c0;
  text-decoration: none;
}

.pagination_rounded .prev i {
  margin-right: 10px;
}

.pagination_rounded .next {
  border-radius: 35px !important;
  width: 90px !important;
  height: 34px !important;
  line-height: 34px !important;
}

.visible-xs {
  display: none !important;
}

.isDisable {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}
/* end pagination styles */

/* add form css styles starts */
.btn-action {
  background-color: #bfcbd6;
}

.btn-action:hover {
  background-color: #aab5c0;
}

.para1 {
  color: #aab5c0; 
  font-size: 1.1em;
  font-weight: bold;
  border-left: 3px solid #6495ED;
  padding: 5px;
}

label {
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"] {
  height: 50px;
  padding: 10px;
  font-size: 1em;
  color: gray;
}

.select {
  height: 50px;
  padding: 10px;
  font-size: 1em;
  color: gray;
}

.btn-action-generate {
  color: white;
  background-color: #6495ED;
}

.btn-action-generate:hover {
  color: white;
  background-color: #1667af;
}

.btn-action-add {
  color: white;
  background-color: #1667af;
}

.btn-action-add:hover {
  color: white;
  background-color: #1668af;
}

.btn-action-cancel {
  background-color: #bfcbd6;
}

.btn-action-cancel:hover {
  background-color: #aab5c0;
}

.label-title {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label-title .card-link {
  cursor: pointer;
  color: gray !important;
  font-size: 1em;
}

input[type="checkbox"] {
  font-size: 0.5em;
  margin-left: -20px;
}

.isActive {
  background-color: lightgray;
}
/* end add form css styles starts */

/* modal css styles starts */
.btn-action-cancel {
  cursor: pointer;
  color: white;
  background-color: #ccc;
}

.btn-action-cancel:hover {
  color: white;
  background-color: gray;
}

.btn-action-add {
  cursor: pointer;
  color: white;
  background-color: #6495ed;
}

.btn-action-add:hover {
  color: white;
  background-color: #1667af;
}
/* end modal css styles starts */

/* sidenav styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 55px;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  color: #6495ed;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.add-user-title {
  font-size: 1.3em;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  font-weight: 600;
  margin-top: -45px;
}

.profile-details {
  display: grid;
  justify-content: center;
  align-items: center;
}

.profile-details .p1 {
  font-size: 1em;
}

.profile-details .p2 {
  color: #aab5c0;
  font-size: 0.8em;
}

.table-data tbody .tr1 td {
  color: #6495ed;
  font-size: 0.9em;
}

.table-data tbody .tr2 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.table-data tbody .tr3 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.table-data tbody .tr4 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.table-data tbody .tr5 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.table-data tbody .tr6 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.table-data tbody .tr7 td {
  color: #aab5c0;
  font-size: 0.9em;
}

.checked {
  color: orange;
}

.para2, .para3 {
  color: lightcoral;
  font-weight: bold;
  border-left: 3px solid #6495ED;
  padding: 5px;
}

.div2 span {
  color: #aab5c0;
  /* background-color: #6495ED; */
  border: 1px solid #aab5c0;
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
}

.div2 span:hover {
  color: white;
  background-color: #bfcbd6;
}

.div2 ul li {
  color: #aab5c0;
  /* background-color: #6495ED; */
  border: 1px solid #aab5c0;
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
}

.div2 ul li:hover {
  color: white;
  background-color: #bfcbd6;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* css shimmers styles */
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

.box {
  height: 10px;
  width: 100px;
}

/* div {
  display: inline-flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 15px;
  vertical-align: top;
}

lines {
  height: 10px;
  margin-top: 10px;
  width: 200px;
}

photo {
  display: block !important;
  width: 325px;
  height: 100px;
  margin-top: 15px;
} */

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
/* end css shimmers styles */