<app-header></app-header>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="container">
                <div class="titles">
                    <p>All User Bookings List</p>
                    <div class="search-fields">
                        <select class="form-control width-50" name="statusName" id="statusId" [(ngModel)]="statusQuery"
                            (change)="onSelectStatus()">
                            <option value="null">All Status</option>
                            <option value="1">Active</option>
                            <option value="0">In Active</option>
                        </select>
                        <div class="form-group input-group ml-2">
                            <input class="form-control width-100" type="text" name="searchName" id="searchId"
                                placeholder="Quick search..." [(ngModel)]="searchQuery" (input)="onInputSearch()">
                            <button class="btn btn-action-search" type="submit" (click)="onSearchData()">
                                <i class="fa fa-search" aria-hidden="false"
                                    *ngIf="!searchQuery || searchQuery === ''"></i>
                                <i class="fa fa-check" aria-hidden="false"
                                    *ngIf="searchQuery || searchQuery !== ''"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" id="main">
                    <div class="col-md-3" *ngFor="let item of usersList; let i=index">
                        <div class="card beauty-card" (click)="openNav(item, i)"
                            [ngClass]="{'active-card': i + 1 == currentIndex && currentIndex + 1}">
                            <div class="details-card p-0">
                                <div class="text-center mt-3">
                                    <img src="../../assets/images/user-avatar.png" alt="_profile"
                                        class="img-responsive rounded-image" width="50" height="50">
                                </div>
                                <div class="title text-center mt-3">
                                    <span>{{item.fullname}}</span>
                                </div>
                                <div class="sub-titles text-center mt-3">
                                    <p>{{item.date | date:'yyyy-MM-dd'}}</p>
                                    <p>{{item.time}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12" *ngIf="usersList.length === 0">
                        <p class="text-center">No user bookings list found.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination" *ngIf="usersList.length !== 0">
                            <!-- <a>&laquo; Prev</a>
                            <a class="active">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a>4</a>
                            <a>5</a>
                            <a>Next &raquo;</a> -->
                            <a [ngClass]="{'isDisable': page === 1}" (click)="getPage(page - 1)">&laquo; Prev</a>
                            <ul class="list-group list-group-flush" *ngFor="let item of totalPages; let i=index">
                                <li class="list-group-item" [ngClass]="{'active': page === item}"
                                    (click)="getPage(item)">{{ item }}</li>
                            </ul>
                            <a [ngClass]="{'isDisable': page === totalPages.length}" (click)="getPage(page + 1)">Next
                                &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidenavlist">
                <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
                <p class="text-center add-user-title">Appointment List</p>
                <hr>
                <div class="p-3" *ngFor="let item of pendingUsers; let i=index">
                    <div class="users-card p-2">
                        <p><img src="../../assets/images/user-avatar.png" alt="_profile"
                                class="img-responsive rounded-image" width="50" height="50"></p>
                        <p class="title">{{item.fullname}}</p>
                        <p>{{item.date | date:'yyyy-MM-dd'}}</p>
                        <p>{{item.time}}</p>
                        <p class="accept" (click)="onSelectUser(item, 1)" data-toggle="modal"
                            data-target="#confirmModal"><i class="fa fa-check" aria-hidden="false"></i></p>
                        <p class="reject" (click)="onSelectUser(item, 0)" data-toggle="modal"
                            data-target="#confirmModal"><i class="fa fa-close" aria-hidden="false"></i></p>
                    </div>
                </div>
                <p class="text-center" *ngIf="pendingUsers.length == 0">No pending users found.</p>
            </div>
        </div>
    </div>
</div>

<!-- user status update confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="confirmModalLabel">User request confirmation</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="selectStatus === 1">Are you sure, you want to accept a user request ?</p>
                <p *ngIf="selectStatus === 0">Are you sure, you want to reject a user request ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-action-cancel" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-action-add" (click)="onUpdateStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>