.img-col {
  border-right: 3px solid lightgray;
}

.img-view {
  display: grid;
  justify-content: center;
  align-items: center;
}

.img-view .p1 {
  color: lightslategrey;
  font-size: 1.2em;
}

.img-view .p2 {
  color: #aab5c0;
  font-size: 0.9em;
}

.profile-col {
  padding: 10px;
  border-right: 3px solid lightgray;
}

.profile-col .p3 {
  color: gray;
  font-size: 1.3em;
}

.profile-view .fa {
  color: #aab5c0;
  font-size: 1.2em;
  padding: 10px;
}

.profile-view .card-one,
.card-two,
.card-three,
.card-four {
  background-color: white;
  border-left: 5px solid #6495ed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-col {
  padding: 10px;
}

.service-col .p4 {
  color: gray;
  font-size: 1.3em;
}

/* service css styles */
.myaccordion {
  /* max-width: 500px; */
  /* margin: 50px auto; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card {
  padding: 5px;
  border: none;
}

/* .myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
} */

.myaccordion .card-header {
  border-bottom-color: #edeff0;
  background: transparent;
}

.myaccordion .fa {
  font-size: 1.2em;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: lightslategray;
  padding: 0;
  text-decoration: none;
}

/* .myaccordion .btn-link:hover, */
.myaccordion .btn-link:focus {
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

.myaccordion li {
  color: #aab5c0;
  font-size: 1em;
}
/* end service css styles */
