<app-header></app-header>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-9">
            <p class="titles">
                Hi <b>{{ fullName }}</b>, Welcome To
                <span class="sub-titles">Online Beautician Booking System</span>
            </p>
            <hr />
        </div>
        <div class="col-md-3">
            <div class="alerts-data">
                <span class="alerts-info" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell-o notify" aria-hidden="false"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right notify-dropdown" aria-labelledby="dropdownMenuButton">
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="list list-row block">
                                        <div class="list-item" data-id="19">
                                            <div><a href="#" class="list-item-link" data-abc="true"><span class="w-48 avatar gd-warning">S</span></a></div>
                                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Sam Kuran</a>
                                                <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                            </div>
                                            <div class="no-wrap">
                                                <div class="item-date text-muted text-sm d-none d-md-block">13/12 18</div>
                                            </div>
                                        </div>
                                        <div class="list-item" data-id="7">
                                            <div><a href="#" class="list-item-link" data-abc="true"><span class="w-48 avatar gd-primary"><img src="https://img.icons8.com/color/48/000000/administrator-male.png" alt="."></span></a></div>
                                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Kinley Adolf</a>
                                                <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                            </div>
                                            <div class="no-wrap">
                                                <div class="item-date text-muted text-sm d-none d-md-block">21 July</div>
                                            </div>
                                        </div>
                                        <div class="list-item" data-id="17">
                                            <div><a href="#" class="list-item-link" data-abc="true"><span class="w-48 avatar gd-warning">H</span></a></div>
                                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Velden Kamut</a>
                                                <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                            </div>
                                            <div class="no-wrap">
                                                <div class="item-date text-muted text-sm d-none d-md-block">13/3/19</div>
                                            </div>
                                        </div>
                                        <div class="list-item" data-id="16">
                                            <div><a href="#" class="list-item-link" data-abc="true"><span class="w-48 avatar gd-info">F</span></a></div>
                                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Stuart Kim</a>
                                                <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                            </div>
                                            <div class="no-wrap">
                                                <div class="item-date text-muted text-sm d-none d-md-block">03/1/19</div>
                                            </div>
                                        </div>
                                        <div class="list-item" data-id="4">
                                            <div><a href="#" class="list-item-link" data-abc="true"><span class="w-48 avatar gd-success"><img src="https://img.icons8.com/color/48/000000/guest-male.png" alt="."></span></a></div>
                                            <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">Simply Fry</a>
                                                <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                            </div>
                                            <div class="no-wrap">
                                                <div class="item-date text-muted text-sm d-none d-md-block">2 hours ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-link text-center">
                            <a>View All Notifications</a>
                        </div>
                    </div>
                </div>
                <span class="alerts-info">
                    <i class="fa fa-commenting-o" aria-hidden="false"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" *ngIf="!spinner">
        <div class="col-md-3">
            <div class="card card-one">
                <div class="div1">
                    <p>USERS</p>
                    <span><i class="fa fa-user-o" aria-hidden="false"></i></span>
                </div>
                <hr>
                <p class="p1 text-center">{{allData.length ? allData[0] : 0}}</p>
            </div>
        </div>
        <div class="col-md-3 left-card">
            <div class="card card-one">
                <div class="div1">
                    <p>BEAUTICIANS</p>
                    <span><i class="fa fa-users" aria-hidden="false"></i></span>
                </div>
                <hr>
                <p class="p1 text-center">{{allData.length ? allData[1] : 0}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-two">
                <div class="div2">
                    <p>BEAUTY PARLOURS</p>
                    <span><i class="fa fa-building-o" aria-hidden="false"></i></span>
                </div>
                <hr>
                <p class="p2 text-center">{{allData.length ? allData[2] : 0}}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-two">
                <div class="div2">
                    <p>BEAUTY SERVICES</p>
                    <span><i class="fa fa-server" aria-hidden="false"></i></span>
                </div>
                <hr>
                <p class="p2 text-center">{{allData.length ? allData[3] : 0}}</p>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="spinner">
        <div class="col-md-3" [ngClass]="{'left-card' : item === 2}" *ngFor="let item of [1,2,3,4]; let i=index;">
            <div class="card" [ngClass]="item <= 2 ? 'card-one' : 'card-two'">
                <div [ngClass]="item <= 2 ? 'div1' : 'div2'">
                    <p *ngIf="!spinner">USERS</p>
                    <span *ngIf="!spinner"><i class="fa fa-user-o" aria-hidden="false"></i></span>
                    <p class="box1 shine" *ngIf="spinner"></p>
                    <span class="box2 shine mt-" *ngIf="spinner"></span>
                </div>
                <hr>
                <div class="text-center" *ngIf="spinner">
                    <p class="box shine" [ngClass]="item <= 2 ? 'p1' : 'p2'"></p>
                </div>
            </div>
        </div>
    </div>
</div>