<app-header></app-header>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card add-card" (click)="onAddAction('beautician')">
                <p class="text-center">ADD BEAUTICIAN</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card add-card" (click)="onAddAction('beautyparlour')">
                <p class="text-center">ADD BEAUTY PARLOUR</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card add-card" (click)="onAddAction('beautyservices')">
                <p class="text-center">ADD BEAUTY SERVICES</p>
            </div>
        </div>
    </div>
</div>