<app-header></app-header>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor="let item of [1,2,3,4,5,6];let i=index">
                        <div class="card beauty-card">
                            <div class="text-center">
                                <img src="../../assets/images/admin-avatar.png" alt="_profile" class="img-responsive rounded-image" width="50" height="50">
                            </div>
                            <div class="title text-center">
                                <span>ABC {{i+1}}</span>
                            </div>
                            <div class="sub-titles text-center">
                                <p>{{i}} Years</p>
                                <p>ABC {{i+1}} SPA</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>