.beauty-card {
    height: 200px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1em;
}

.sub-titles {
    color: #ccc;
    font-size: 0.9em;
}